
.site-layout .site-layout-header-background {
  background: rgb(37, 58, 104);
}
.site-layout .site-layout-header-mercadopago-background {
  background: rgb(6, 2, 29);
}

.site-layout .site-layout-content-background {
  background: #fff;
  margin: 24px 16px;
  padding: 24px;
  min-height: 770px;

}

.site-layout-footer {
  text-align: center;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}